h1 {
  .subtitle {
    display: inline-block;
    font-size: 20px;
    color: #337ab7;
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;

  .resources {
    margin-bottom: 20px;
    text-align: center;

    img {
      display: inline-block;;
      width: 75px;
      margin-right: 20px;
    }
  }

  .author {
    color: #8e8e8e;
    text-align: center;
  }
}

#featured-list,
#vocabulary-header {
  margin-bottom: 20px;
}

#featured-list {
  .item {
    margin-bottom: 15px;

    &:nth-of-type(4n+1) {
      clear: both;
    }
  }
}

#vocabulary-list {
  margin-bottom: 75px;

  .vocabulary-filter {
    margin-bottom: 20px;

    > ul > li {
      overflow: hidden;
      margin-bottom: 10px;

      > strong {
        float: left;
        margin-right: 10px;
      }
    }

    > ul > li > ul > li {
      float: left;

      .btn {
        outline: 0 !important;
      }

      .btn.active {
        color: #fff !important;
      }
    }
  }

  .item {
    margin-bottom: 15px;
    padding: 5px;
  }
}

#logo {
  margin-right: 10px;
  width: 75px;
  float: left;
}

.btn {
  margin-right: 5px;
}

.vocabulary-box {
  padding: 15px;
}
